<div class="w-100 bg-light px-3 px-md-5 py-5">
    <div class="row w-100 m-0">
        <div class="col-md-auto mb-4 mb-md-0 pe-md-4">
            <h5>Контакты</h5>
            <ul class="list-unstyled">
                <li>Telegram — <a href="https://t.me/orest5">@orest5</a></li>
                <li>ВКонтакте — <a href="https://vk.com/orest2">@orest2</a></li>
                <li>Твиттер — <a href="https://twitter.com/1orest">@1orest</a></li>
                <li>Facebook — <a href="https://www.facebook.com/1orest">@1orest</a></li>
                <li>Github — <a href="https://github.com/1orest">@1orest</a></li>
                <li>Почта — <a href="mailto:mail1orest@gmail.com">mail1orest@gmail.com</a></li>
            </ul>
        </div>
        <div class="col-md-auto mb-4 mb-md-0 pe-md-4">
            <h5>Проекты</h5>
            <ul class="list-unstyled">
                <li><a class="text-decoration-none" href="https://discord.gg/pY68VXkPK4">Квантосеть</a></li>
                <li><a class="text-decoration-none" href="https://studyar.senteristeam.ru">StudyAR</a></li>
            </ul>
        </div>
    </div>
</div>