<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://1Orest.ru">1Orest.ru</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_content" aria-controls="navbar_content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar_content">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% for link in site.data.links.navbar_links %}
                <li class="nav-item">
                    <a title="{{ link.description }}" class="nav-link {%if page.url == link.url %}active" aria-current="page{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>

            <hr class="d-md-none">

            {% assign tool = site.tools | first %}
            <a href="{{ tool.url }}" title="{{ tool.description }}" class="btn btn-outline-primary {%if page.url == tool.url %}disabled aria-current=" page{% endif %}">{{ tool.title }}</a>
        </div>
    </div>
</nav>