<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | 1Orest.ru</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="title" content="{{ page.title }} | 1Orest.ru">
    <meta name="description" content="{{ page.description }}"/>
    {% include head/favicon.html %}
</head>

{{ content }}

</html>